{% extends 'base.html' %}

{% load static %}

{% block style %}
  <style>
    svg {
      cursor: pointer;
      overflow: visible;
      width: 60px;
    }
    svg #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    svg #main-circ {
      transform-origin: 29.5px 29.5px;
    }

    .checkbox {
      display: none;
    }

    .checkbox:checked + label svg #heart {
      transform: scale(0.2);
      fill: #E2264D;
      animation: animateHeart 0.3s linear forwards 0.25s;
    }
    .checkbox:checked + label svg #main-circ {
      transition: all 2s;
      animation: animateCircle 0.3s linear forwards;
      opacity: 1;
    }
    .checkbox:checked + label svg #grp1 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp1 #oval1 {
      transform: scale(0) translate(0, -30px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp1 #oval2 {
      transform: scale(0) translate(10px, -50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp2 #oval1 {
      transform: scale(0) translate(30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 #oval2 {
      transform: scale(0) translate(60px, -15px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp3 #oval1 {
      transform: scale(0) translate(30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp3 #oval2 {
      transform: scale(0) translate(60px, 10px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp4 #oval1 {
      transform: scale(0) translate(30px, 15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp4 #oval2 {
      transform: scale(0) translate(40px, 50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp5 #oval1 {
      transform: scale(0) translate(-10px, 20px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp5 #oval2 {
      transform: scale(0) translate(-60px, 30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp6 #oval1 {
      transform: scale(0) translate(-30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp6 #oval2 {
      transform: scale(0) translate(-60px, -5px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp7 #oval1 {
      transform: scale(0) translate(-30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp7 #oval2 {
      transform: scale(0) translate(-55px, -30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }

    @keyframes animateCircle {
      40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
      }
      55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
      }
      65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
      }
      75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.5;
      }
      85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.2;
      }
      95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.1;
      }
      100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
      }
    }
    @keyframes animateHeart {
      0% {
        transform: scale(0.2);
      }
      40% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes animateHeartOut {
      0% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }

    .gun-info {
      border: solid 0.2em white;
      margin-top: 80px;
    }

    .inner-border {
      border: solid 0.1em white;
      text-align: center;
    }

    .movie-link {
      background-color : transparent;
      border: none;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: orange;
    }

  </style>
{% endblock style %}

{% block content %}

  <div class='gun-info container'>
    <div class='row text-center py-3' style="border-bottom: solid 2px white;">
      <p class='col-8' style='padding-left: 450px; font-size:1.5rem; padding-top: 10px;'>{{ gun.gun_name }}</p>
      <div id="main-content" class='col-4 d-flex align-items-center justify-content-center'>
        <div>
          <input type="checkbox" id="checkbox-{{ gun.pk }}" class="checkbox" data-gun-id="{{ gun.pk }}"
          {% if user in gun.like_users.all %}
            checked
          {% endif %}
          />
          <label for="checkbox-{{ gun.pk }}">
            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
              <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>
      
                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                </g>
      
                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                </g>
      
                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                </g>
      
                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                </g>
      
                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                </g>
      
                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                </g>
      
                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                </g>
              </g>
            </svg>
          </label>
        </div>
        <span id="like-count-{{ gun.pk }}"  style='font-size: 30px;'>{{ gun.like_users.all|length }}</span>
      </div>
    </div>
    <div class='row my-3'>
      <div class='card-title d-flex justify-content-center'>
        <img style='width: 500px;' src="{% static gun.gun_image_path %}" alt="gun_image">
      </div>
    </div>
    <div class='gun-spec card-body'>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>총 제작자</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ gun.manufacturer }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>총 무게</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ gun.gun_weight }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>총 길이</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ gun.gun_length }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>총 구경</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ gun.gun_caliber }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>총 종류</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ gun.gun_type }}</p>
        </div>
      </div>
    </div>
    <div class='card' style='background-color: transparent;'>
      <div class='card-body d-flex justify-content-center'>
        <iframe width="900" height="500" src="{{ gun.gun_youtube_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div>
      <div class='container' style='border: solid 2px white; margin-bottom: 20px;'>
        <div class='row d-flex justify-content-center py-3 h2' style='border-bottom: solid 2px white;'>{{ gun.gun_name }}이 등장한 영화목록</div>
        <div class='row'>
          {% for related_movie in gun.related_movies.all %}
            <div class='movie-link card col-2 d-flex align-items-center'>
              <li style='margin: 5px 0px; max-width: 200px;' class='d-inline text-truncate'><a href="{% url 'movies:detail' related_movie.pk %}">{{ related_movie.title }}</a></li>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class='d-flex justify-content-center mt-3'>
    <a href="{% url 'guns:index' %}"><button class='btn btn-primary'>뒤로가기</button></a>
  </div>
  
{% endblock %}

{% block script %}
  <script>
    const checkbox = document.querySelector('.checkbox')
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
    checkbox.addEventListener('click', function (event) {
      event.preventDefault()
      const gunId = event.target.dataset.gunId
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/guns/${gunId}/like/`,
        headers: {'X-CSRFToken': csrf_token},
      })
      .then(response => {
        const count = response.data.count
        const liked = response.data.liked
        const likeButton = document.querySelector(`#checkbox-${gunId}`)
        const likeCount = document.querySelector(`#like-count-${gunId}`)
        if (liked === true) {
          likeButton.checked = true
        } else {
          likeButton.checked = false
        }
        likeCount.innerText = count
      })
    })
  </script>
{% endblock %}