{% extends 'base.html' %}

{% block content %}
  <h1>DB 채우기</h1>
  <form action="">
    <p>TMDB 영화 제목
      <input type="text" name="search_keyword"><button>검색</button>
    </p>
  </form>
  <hr>
  {% for movie in data.results %}
    <img style='width: 400px;' src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
    {% if movie.title in movie_titles %}
      <h1 class="text-danger">중복 영화!!</h1>
    {% endif %}
    {% if movie.title not in movie_titles %}
      <form action="" method="POST">
        {% csrf_token %}
    {% endif %}
      <h2>영화 제목: <input type="text" value="{{ movie.title }}" name="title" class="border-0 text-white bg-transparent p-0" size="30" readonly></h2>
      <p>장르 ID: <input type="text" value="{{ movie.genre_ids }}" name="genre_ids" class="border-0 text-white bg-transparent p-0" size="30" readonly></p>
      <p>영화 개봉일: <input type="text" value="{{ movie.release_date }}" name="release_date" class="border-0 text-white bg-transparent p-0" size="30" readonly></p>
      <p>인기도: <input type="text" value="{{ movie.popularity }}" name="popularity" class="border-0 text-white bg-transparent p-0" size="30" readonly></p>
      <p>영화 평점: <input type="text" value="{{ movie.vote_average }}" name="vote_average" class="border-0 text-white bg-transparent p-0" size="30" readonly></p>
      <p>영화 줄거리: <input type="text" value="{{ movie.overview }}" name="overview" class="border-0 text-white bg-transparent p-0" size="200" readonly></p>
      <input type="text" value="{{ movie.vote_count }}" name="vote_count" class="border-0 text-white bg-transparent p-0" size="30" hidden>
      <input type="text" value="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" name="poster_path" class="border-0 text-white bg-transparent p-0" size="30" hidden>
      {% if movie.title in movie_titles %}
        <a href="{% url 'movies:update' movie.title %}"><button>영화 정보 수정</button></a>
      {% else %}
        <button>영화 DB 등록</button>
      </form>
      {% endif %}
      
    <hr>
  {% endfor %}
{% endblock content %}