{% extends 'base.html' %}

{% load static %}

{% block style %}
  <style>
    svg {
      cursor: pointer;
      overflow: visible;
      width: 60px;
    }
    svg #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    svg #main-circ {
      transform-origin: 29.5px 29.5px;
    }

    #checkbox {
      display: none;
    }

    #checkbox:checked + label svg #heart {
      transform: scale(0.2);
      fill: #E2264D;
      animation: animateHeart 0.3s linear forwards 0.25s;
    }
    #checkbox:checked + label svg #main-circ {
      transition: all 2s;
      animation: animateCircle 0.3s linear forwards;
      opacity: 1;
    }
    #checkbox:checked + label svg #grp1 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp1 #oval1 {
      transform: scale(0) translate(0, -30px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp1 #oval2 {
      transform: scale(0) translate(10px, -50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp2 #oval1 {
      transform: scale(0) translate(30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp2 #oval2 {
      transform: scale(0) translate(60px, -15px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp3 #oval1 {
      transform: scale(0) translate(30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp3 #oval2 {
      transform: scale(0) translate(60px, 10px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp4 #oval1 {
      transform: scale(0) translate(30px, 15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp4 #oval2 {
      transform: scale(0) translate(40px, 50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp5 #oval1 {
      transform: scale(0) translate(-10px, 20px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp5 #oval2 {
      transform: scale(0) translate(-60px, 30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp6 #oval1 {
      transform: scale(0) translate(-30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp6 #oval2 {
      transform: scale(0) translate(-60px, -5px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    #checkbox:checked + label svg #grp7 #oval1 {
      transform: scale(0) translate(-30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp7 #oval2 {
      transform: scale(0) translate(-55px, -30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    #checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    #checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }

    @keyframes animateCircle {
      40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
      }
      55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
      }
      65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
      }
      75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.5;
      }
      85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.2;
      }
      95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.1;
      }
      100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
      }
    }
    @keyframes animateHeart {
      0% {
        transform: scale(0.2);
      }
      40% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes animateHeartOut {
      0% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }

    .inner-border {
      border: solid 0.1em white;
      text-align: center;
    }

    .movie-info {
      border: solid 0.2em white;
      margin-top: 80px;
    }

    .gun-card {
      {% comment %} background-color: transparent; {% endcomment %}
      margin: 0px 15px 15px 15px;
    }

  </style>
{% endblock style %}

{% block content %}
  <div class='movie-info container'>
    <div class='row text-center py-3' style="border-bottom: solid 2px white;">
      <div class='col-8'>
        <h2 style='padding-left: 450px; font-size:1.8rem; padding-top: 10px; margin-bottom: 0px;'>{{ movie.title }}</h2>
      </div>
      <div class='col-4'>
        <div id="main-content" class='col-4 d-flex align-items-center justify-content-center'>
          <div>
            <input type="checkbox" id="checkbox" class="like-{{ movie.pk }}" data-movie-id="{{ movie.pk }}"
            {% if user in movie.like_users.all %}
              checked
            {% endif %}
            />
            <label for="checkbox">
              <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                  <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                  <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>
        
                  <g id="grp7" opacity="0" transform="translate(7 6)">
                    <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                    <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                  </g>
        
                  <g id="grp6" opacity="0" transform="translate(0 28)">
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                    <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                  </g>
        
                  <g id="grp3" opacity="0" transform="translate(52 28)">
                    <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                    <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                  </g>
        
                  <g id="grp2" opacity="0" transform="translate(44 6)">
                    <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                  </g>
        
                  <g id="grp5" opacity="0" transform="translate(14 50)">
                    <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                    <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                  </g>
        
                  <g id="grp4" opacity="0" transform="translate(35 50)">
                    <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                    <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                  </g>
        
                  <g id="grp1" opacity="0" transform="translate(24)">
                    <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                    <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                  </g>
                </g>
              </svg>
            </label>
          </div>
          <span id="like-count-{{ movie.pk }}" style='font-size: 30px;'>{{ movie.like_users.all|length }}</span>
        </div>
      </div>
    </div>
    <div class='row my-3'>
      <div class='card-title d-flex justify-content-center'>
        <img style='width: 500px;' src="{{ movie.poster_path }}" alt="{{ movie.title }}">
      </div>
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>장르</p>
        </div>
        <div class='col-8 inner-border'>
          <p  style='margin: 10px 0px;'>
            {% for genre in movie.genres.all %}
              {{ genre }}
            {% endfor %}
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>영화 개봉일</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ movie.release_date }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>인기도</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ movie.popularity }}</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p style='margin: 10px 0px;'>영화 평점</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ movie.vote_average }}</p>    
        </div>
      </div>
      <div class='row'>
        <div class='col-4 inner-border'>
          <p class='d-flex justify-content-center'>영화 줄거리</p>
        </div>
        <div class='col-8 inner-border'>
          <p style='margin: 10px 0px;'>{{ movie.overview }}</p>
        </div>
      </div>
    </div>
    <div class='container' style='border: solid 2px white; margin-bottom: 20px;'>
      <div class='row d-flex justify-content-center py-3 h2' style='border-bottom: solid 2px white;'>
        {{ movie.title }}에 등장한 총기
      </div>
      <div class='row d-flex justify-content-center'>
          {% for related_gun in movie.related_guns.all %}
          <div class=' gun-card card col-5 d-flex align-items-center'>
            <div class='card-title d-flex align-items-center' style='min-height: 300px; border-bottom: solid 0.1em black;'>
            <img src="{% static related_gun.gun_image_path %}" alt="gun_image">
            </div>
            <div class='card-body'>
              <li class='d-flex justify-content-center'><a href="{% url 'guns:detail' related_gun.pk%}" class=''>{{ related_gun.gun_name }}</a></li>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    <div>
      <div class='d-flex justify-content-evenly mb-3'>
        {% if user.is_superuser %}
        <a href="{% url 'movies:update' movie.title %}"><button>영화 정보 수정</button></a>
        {% endif %}
        <a href="{% url 'community:create' movie.pk %}"><button>영화 리뷰 작성</button></a>
        <a href="{% url 'movies:index' %}"><button>뒤로가기</button></a>
        {% if user.is_superuser %}
          <form action="" method="POST">
            {% csrf_token %}
            <button onclick="return confirm('정말 삭제하시겠습니까?')">영화 삭제</button>
          </form>
        {% endif %}
      </div>
    </div>  
  </div>

{% endblock %}

{% block script %}
  <script>
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
    const likeButton = document.querySelector('#checkbox')
    likeButton.addEventListener('click', function (event) {
      const movieId = event.target.dataset.movieId
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/movies/${movieId}/like/`,
        headers: {'X-CSRFToken': csrf_token},
      })
      .then(response => {
        const count = response.data.count
        const liked = response.data.liked
        const likeButton = document.querySelector(`.like-${movieId}`)
        const likeCount = document.querySelector(`#like-count-${movieId}`)
        if (liked === true) {
          likeButton.checked = true
        } else {
          likeButton.checked = false
        }
        likeCount.innerText = count
      })
    })
  </script>
{% endblock %}