{% extends 'base.html' %}

{% block style %}
  <style>
    svg {
      cursor: pointer;
      overflow: visible;
      width: 60px;
    }
    svg #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    svg #main-circ {
      transform-origin: 29.5px 29.5px;
    }

    .checkbox {
      display: none;
    }

    .checkbox:checked + label svg #heart {
      transform: scale(0.2);
      fill: #E2264D;
      animation: animateHeart 0.3s linear forwards 0.25s;
    }
    .checkbox:checked + label svg #main-circ {
      transition: all 2s;
      animation: animateCircle 0.3s linear forwards;
      opacity: 1;
    }
    .checkbox:checked + label svg #grp1 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp1 #oval1 {
      transform: scale(0) translate(0, -30px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp1 #oval2 {
      transform: scale(0) translate(10px, -50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp2 #oval1 {
      transform: scale(0) translate(30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 #oval2 {
      transform: scale(0) translate(60px, -15px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp3 #oval1 {
      transform: scale(0) translate(30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp3 #oval2 {
      transform: scale(0) translate(60px, 10px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp4 #oval1 {
      transform: scale(0) translate(30px, 15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp4 #oval2 {
      transform: scale(0) translate(40px, 50px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp5 #oval1 {
      transform: scale(0) translate(-10px, 20px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp5 #oval2 {
      transform: scale(0) translate(-60px, 30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp6 #oval1 {
      transform: scale(0) translate(-30px, 0px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp6 #oval2 {
      transform: scale(0) translate(-60px, -5px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s all 0.3s;
    }
    .checkbox:checked + label svg #grp7 #oval1 {
      transform: scale(0) translate(-30px, -15px);
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp7 #oval2 {
      transform: scale(0) translate(-55px, -30px);
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
    .checkbox:checked + label svg #grp2 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp3 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp4 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp5 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp6 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }
    .checkbox:checked + label svg #grp7 {
      opacity: 1;
      transition: 0.1s opacity 0.3s;
    }

    @keyframes animateCircle {
      40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
      }
      55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
      }
      65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
      }
      75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.5;
      }
      85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.2;
      }
      95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0.1;
      }
      100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
      }
    }
    @keyframes animateHeart {
      0% {
        transform: scale(0.2);
      }
      40% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes animateHeartOut {
      0% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
    .page-link {
      color: black;
    }
  </style>
{% endblock style %}

{% block content %}
  <div class="m-3">
    <h1>Movies</h1>
    <form action="{% url 'movies:index' %}?typeof=title_asc&page=1">
        <select name="search_type" id="search_type">
          <option value="search_by_title">제목(한글)</option>
          <option value="search_by_original_title">제목(영어)</option>
          <option value="search_by_genre">장르</option>
        </select>
        <input type="text" name="search_keyword"><button>검색</button></p>
    </form>
    <div class="d-flex">
      <div class="list-group">
        <a href="{% url 'movies:index' %}?typeof=title_asc" class="list-group-item list-group-item-action
        {% if typeof == 'title_asc' %}
          active
        {% endif %}
        ">영화 제목 A → Z</a>
        <a href="{% url 'movies:index' %}?typeof=title_des" class="list-group-item list-group-item-action
        {% if typeof == 'title_des' %}
          active
        {% endif %}
        ">영화 제목 Z → A</a>
        <a href="{% url 'movies:index' %}?typeof=release_date_des" class="list-group-item list-group-item-action
        {% if typeof == 'release_date_des' %}
          active
        {% endif %}
        ">출시일 현재 → 과거</a>
        <a href="{% url 'movies:index' %}?typeof=release_date_asc" class="list-group-item list-group-item-action
        {% if typeof == 'release_date_asc' %}
          active
        {% endif %}
        ">출시일 과거 → 현재</a>
        <a href="{% url 'movies:index' %}?typeof=popularity_des" class="list-group-item list-group-item-action
        {% if typeof == 'popularity_des' %}
          active
        {% endif %}
        ">인기도 높음 → 낮음</a>
        <a href="{% url 'movies:index' %}?typeof=popularity_asc" class="list-group-item list-group-item-action
        {% if typeof == 'popularity_asc' %}
          active
        {% endif %}
        ">인기도 낮음 → 높음</a>
        <a href="{% url 'movies:index' %}?typeof=vote_average_des" class="list-group-item list-group-item-action
        {% if typeof == 'vote_average_des' %}
          active
        {% endif %}
        ">평점 높음 → 낮음</a>
        <a href="{% url 'movies:index' %}?typeof=vote_average_asc" class="list-group-item list-group-item-action
        {% if typeof == 'vote_average_asc' %}
          active
        {% endif %}
        ">평점 낮음 → 높음</a>
        <a href="{% url 'movies:index' %}?typeof=like_users_des" class="list-group-item list-group-item-action
        {% if typeof == 'like_users_des' %}
          active
        {% endif %}
        ">좋아요 많음 → 적음</a>
        <a href="{% url 'movies:index' %}?typeof=like_users_asc" class="list-group-item list-group-item-action
        {% if typeof == 'like_users_asc' %}
          active
        {% endif %}
        ">좋아요 적음 → 많음</a>
      </div>
      <div class="container">
        <div class="row gx-2 gy-2">
          {% for movie in movies %}
            <div class="card text-dark col-3 p-2 m-1 border-dark border-5" style="width: 18rem;">
              <a href="{% url 'movies:detail' movie.pk %}"><img class="card-img-top" src="{{ movie.poster_path }}" alt="{{ movie.title }}" style="height: 393px;"></a>
              <div class="card-body">
                <div id="main-content" class="d-flex">
                  <div>
                    <input type="checkbox" id="checkbox-{{ movie.pk }}" class="checkbox" data-movie-id="{{ movie.pk }}"
                    {% if user in movie.like_users.all %}
                      checked
                    {% endif %}
                    />
                    <label for="checkbox-{{ movie.pk }}">
                      <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                          <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                          <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>
                
                          <g id="grp7" opacity="0" transform="translate(7 6)">
                            <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                            <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                          </g>
                
                          <g id="grp6" opacity="0" transform="translate(0 28)">
                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                            <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                          </g>
                
                          <g id="grp3" opacity="0" transform="translate(52 28)">
                            <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                            <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                          </g>
                
                          <g id="grp2" opacity="0" transform="translate(44 6)">
                            <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                          </g>
                
                          <g id="grp5" opacity="0" transform="translate(14 50)">
                            <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                            <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                          </g>
                
                          <g id="grp4" opacity="0" transform="translate(35 50)">
                            <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                            <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                          </g>
                
                          <g id="grp1" opacity="0" transform="translate(24)">
                            <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                            <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                          </g>
                        </g>
                      </svg>
                    </label>
                  </div>
                  <p id="like-count-{{ movie.pk }}" class="mt-auto">{{ movie.like_users.all|length }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item 
            {% if pagelist == 1 %}
              disabled
            {% endif %}
          ">
            <a class="page-link" href="{% url 'movies:index' %}?typeof={{ typeof }}&pagelist={{ pagelist|add:-1 }}&page={{ page|add:-10 }}&search_keyword={{ search_keyword }}&search_type={{ search_type }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% for pagenumber in pagenumbers %}
            <li class="page-item 
              {% if pagenumber == page %}
                active
              {% endif %}
              {% if pagenumber not in valid_pages %}
                disabled
              {% endif %}
            "><a class="page-link" href="{% url 'movies:index' %}?typeof={{ typeof }}&pagelist={{ pagelist }}&page={{ pagenumber }}&search_keyword={{ search_keyword }}&search_type={{ search_type }}">{{ pagenumber }}</a></li>
          {% endfor %}
          <li class="page-item 
            {% if pagelist not in valid_pagelists %}
              disabled
            {% endif %}
          ">
            <a class="page-link" href="{% url 'movies:index' %}?typeof={{ typeof }}&pagelist={{ pagelist|add:1 }}&page={{ page|add:10 }}&search_keyword={{ search_keyword }}&search_type={{ search_type }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const checkboxes = document.querySelectorAll('.checkbox')
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('click', function (event) {
        event.preventDefault()
        const movieId = event.target.dataset.movieId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/movies/${movieId}/like/`,
          headers: {'X-CSRFToken': csrf_token},
        })
        .then(response => {
          const count = response.data.count
          const liked = response.data.liked
          const likeButton = document.querySelector(`#checkbox-${movieId}`)
          const likeCount = document.querySelector(`#like-count-${movieId}`)
          if (liked === true) {
            likeButton.checked = true
          } else {
            likeButton.checked = false
          }
          likeCount.innerText = count
        })
      })
    })
  </script>
{% endblock %}