{% extends 'base.html' %}

{% block content %}
  <div style='margin-top: 150px;' class='container d-flex justify-content-center'>
    <div style='width: 500px; height: 280px; border: solid 0.2em white;'  class='row d-flex align-content-center'>
      
      <h1 class='col-12 d-block text-center'>로그인</h1>
      
      <div class='d-flex justify-content-center'>
        <form action="" method="POST">
          {% csrf_token %}
          <div>
            {{ form.username.label }}
            <p>{{ form.username }}</p>
            
            {{ form.password.label }}
            <p>{{ form.password }}</p>
            <div class='d-flex justify-content-center'>
              <input type="submit" style='width: 60px;'>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock  %}
