<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <title>Document</title>
</head>
<body class="text-white" style='background-color: #323D3F;'>
  <div>
    <nav class="position-sticky d-flex justify-content-between align-items-center" style="background-color: #141819; height: 80px;">
      <div class="mx-3">
        <a href="{% url 'accounts:profile' user.username %}" class="text-decoration-none text-white">{{ user.username }}</a>님, 안녕하세요!
      </div>
      <div id="main_div">
        <h1>Guns & Movies</h1>
      </div>
      <div class="d-flex justify-content-evenly" style="width: 400px;">
        {% if user.is_authenticated %}
        <form id="logout_form" action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <div id="logout_div">Logout</div>
        </form>
        
        {% else %}
        <a href="{% url 'accounts:signup' %}" class="text-decoration-none text-white">Signup</a>
        <a href="{% url 'accounts:login' %}" class="text-decoration-none text-white">Login</a>
        
        {% endif %}
        <a href="{% url 'guns:index'%}" class="text-decoration-none text-white">Gun</a>
        <a href="{% url 'movies:index'%}" class="text-decoration-none text-white">Movie</a>
        <a href="{% url 'community:index'%}" class="text-decoration-none text-white">Review</a>
        
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script>
    const mainDiv = document.querySelector('#main_div')
    const logoutDiv = document.querySelector('#logout_div')
    mainDiv.addEventListener('click', function () {
      window.location.href = "http://127.0.0.1:8000/main/"
    })
    logoutDiv.addEventListener('click', function () {
      const form = document.getElementById('logout_form')
      form.submit()
    })
  </script>

  {% block script %}
  {% endblock script %}

  <style>
    #main_div, #logout_div:hover {
      cursor: pointer;
    }
  </style>
</body>
</html>
